@page "/editproduct"
@page "/editproduct{id:int}"

<h3>CreateProduct</h3>

<EditForm Model="product" OnSubmit="HandleSubmit">

	<label>Name</label>
	<InputText @bind-Value="product.Name">@product.Name</InputText>
	<button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {

	[Parameter]
	public int? Id { get; set; }

	Product product = new Product { Name = string.Empty };

	async Task HandleSubmit()
	{

		//
		
	}


}
