@page "/editproduct"
@page "/editproduct{id:int}"
@inject IProductService productService

<h3>CreateProduct</h3>

<EditForm Model="product" OnSubmit="HandleSubmit" FormName="ëditProduct">

	<label>Name</label>
	<InputText @bind-Value="product.Name">@product.Name</InputText>
	<button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {

	[Parameter]
	public int? Id { get; set; }
	
	[SupplyParameterFromForm]
	Product product{get;set;} = new Product { Name = string.Empty };

	async Task HandleSubmit()
	{

		await productService.CreateProduct(product);

	}


}
